{% extends "base.html" %}

{% block content %}
  <div class="card border-info mb-3">
    <h5 class="card-header">User info</h5>
    <div class="card-body">
      <h5 class="card-title">{{ current_user.name }} {{ current_user.surname }}</h5>
      <p class="card-text">Age: {{ current_user.age }}</p>
      <p class="card-text">Position: {{ current_user.position }}</p>
      <p class="card-text">Speciality: {{ current_user.speciality }}</p>
      <p class="card-text">Address: {{ current_user.address }}</p>
      <p class="card-text">email: {{ current_user.email }}</p>
      <p class="card-text">Modified date: {{ current_user.modified_date }}</p>
      <a class="btn btn-warning " href="/add_job">Добавить работу</a>
      <a class="btn btn btn-danger " href="/logout">Выйти</a>
    </div>
  </div>
{% endblock %}